<section id="about" class="py-20 bg-gray-900 text-white">
  <div class="max-w-7xl mx-auto px-8 flex flex-col md:flex-row items-center justify-between">
    <div class="w-full md:w-1/2 space-y-8 md:space-y-12">
      <h2 class="text-5xl font-extrabold mb-6 leading-tight text-center md:text-left text-shadow-lg animate__animated animate__fadeIn animate__delay-1s">
        The Walking Dead: The Fight for Survival
      </h2>
      <p class="text-lg font-light text-center md:text-left opacity-80 animate__animated animate__fadeIn animate__delay-2s">
        In a world where humanity is fighting for its last breath, *The Walking Dead* tells the story of survivors trying to find hope in a hopeless world.
        Amidst the ever-present threat of zombies, they must navigate human conflicts, complex relationships, and the constant struggle for survival.
      </p>
      <p class="text-lg font-light text-center md:text-left opacity-80 animate__animated animate__fadeIn animate__delay-3s">
        Join Rick Grimes and his diverse group of survivors as they navigate the emotional and physical challenges of an apocalypse, where every decision could mean the difference between life and death.
      </p>
      <div class="text-center md:text-left">
        <a href="#episodes" class="text-lg font-semibold text-yellow-500 hover:text-yellow-400 transition duration-300 transform hover:scale-105">
          Explore the Episodes &rarr;
        </a>
      </div>
    </div>

    <div class="w-full md:w-1/2 mt-8 mx-[40px] md:mt-0">
      <div class="relative overflow-hidden">
        <img src="assets/banner2.jpg" alt="The Walking Dead Survivors" class="w-full h-auto object-cover transform hover:scale-110 transition-transform duration-500 ease-in-out" />
        <div class="absolute"></div>
      </div>
    </div>
  </div>
</section>
