<section class="relative w-full h-[80vh] bg-cover bg-center bg-no-repeat"
  style="background-image: url('assets/banner.jpg');">
  <header class="absolute top-0 left-0 w-full text-white z-20 mt-[100px]">
    <div class="max-w-7xl mx-auto flex justify-between items-center py-8 px-12 backdrop-blur-md bg-black/40 rounded-lg">
      <div class="flex items-center space-x-6">
        <img src="assets/icn.png" alt="The Walking Dead"
          class="h-16 w-auto transform transition-transform duration-300 hover:scale-110">
        <h1
          class="text-6xl font-extrabold tracking-wider text-shadow-md hover:text-gray-200 transition-colors duration-300"
          style="font-family: 'Bebas Neue', sans-serif;">
          The Walking Dead
        </h1>
      </div>

      <nav class="hidden md:flex space-x-12 text-lg font-medium uppercase tracking-widest">
        <a href="#home" class="relative hover:text-[#A6916A] transition-all duration-300 before:absolute before:left-0 before:bottom-0 before:w-full before:h-1 before:bg-[#A6916A] before:scale-x-0 hover:before:scale-x-100">Home</a>
        <a href="#about" class="relative hover:text-[#A6916A] transition-all duration-300 before:absolute before:left-0 before:bottom-0 before:w-full before:h-1 before:bg-[#A6916A] before:scale-x-0 hover:before:scale-x-100">About</a>
        <a href="#episodes"class="relative hover:text-[#A6916A] transition-all duration-300 before:absolute before:left-0 before:bottom-0 before:w-full before:h-1 before:bg-[#A6916A] before:scale-x-0 hover:before:scale-x-100">Episodes</a>
        <a href="#characters" class="relative hover:text-[#A6916A] transition-all duration-300 before:absolute before:left-0 before:bottom-0 before:w-full before:h-1 before:bg-[#A6916A] before:scale-x-0 hover:before:scale-x-100">Characters</a>
        <a href="#contact" class="relative hover:text-[#A6916A] transition-all duration-300 before:absolute before:left-0 before:bottom-0 before:w-full before:h-1 before:bg-[#A6916A] before:scale-x-0 hover:before:scale-x-100">Contact</a>
      </nav>
      <div class="md:hidden text-3xl hover:text-[#A6916A] transition-colors duration-300">
        <i class="fas fa-bars"></i>
      </div>
    </div>
  </header>

  <div class="absolute bottom-20 left-0 text-white px-8 py-6 text-center w-full">
    <!-- <h2
      class="text-6xl font-extrabold leading-tight text-shadow-xl animate__animated animate__fadeIn animate__delay-1s">
      The Final Season</h2>
    <p class="mt-4 text-xl font-light max-w-3xl mx-auto text-shadow-md opacity-90">Prepare for the end. Join the
      characters in their fight for survival in the most thrilling conclusion yet.</p> -->
  </div>
</section>
